<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="FinanzasPConnectionString" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString2" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString3" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString4" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString5" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString6" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString7" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString8" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString9" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString10" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString11" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString12" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString13" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString14" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString15" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString16" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString17" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString18" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString19" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString20" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString21" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString22" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString23" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString24" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString25" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinanzasPConnectionString26" connectionString="Data Source=DESKTOP-PD7QNIA\JEANCA;Initial Catalog=FinanzasP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>